doctype html
html
  head
    title Dashboard - Admin Panel
  body
    h1 Dashboard
    nav
      a(href=`/products?token=${token}`) Manage Products
      br
      a(href=`/orders?token=${token}`) View Orders
      br
      a(href="/login") Logout
